:root {
  color:
  --primary-color: grey;
  --secondary-color:  #487A90;
  --tertiary-color: #D99830;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


header {
  display: flex;
  justify-content: center;

}

body {
  type-scale: 20.00px;
  text-decoration: none;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

li {
  list-style-type: none;

}

a {
  text-decoration: none;
}
